
$--clr--accent--green: hsl(172, 67%, 45%);
$--clr--accent--mlcyan: hsl(185, 41%, 84%);
$--clr--accent--lcyan: hsl(189, 41%, 97%);
$--clr--neutral--dcyan: hsl(183, 100%, 15%);

@import './user-inputs';
@import './result'; 



//In short they are two files that represent left and right in flexbox

html{
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth;
    margin: auto;
    background-color: rgb(178, 226, 174);
    font-family: monospace;
}
ul, li, p, h1, h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
input{
    text-align: right;
    font-family: monospace;
}
li{
    list-style-type: none;
}
button{
    cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

//main element
.card{
    display: flex;
    flex: 1 1 50%;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    flex-wrap: wrap;
    background-color: white;
    max-width: 100vh;
    min-height: 40vh;
    border-radius: 15px;
    margin: 10vh auto;
    padding: 3vh;
}
//padding inside card class
.inputs{
    padding: 3vh;
}
.add-gap{
    margin-bottom: 2vh;
}




